html {
    font-size: 62.5%;
  }

#content {
    background-color: #252525;
    color: white;
    max-width: 75rem;
    margin: 4rem auto;
}

  i,
  .current-temperature {
    font-size: 4.5rem;
  }
  