#content {
    background-color: #f3f3f3;
}
html {
    font-size: 62.5%;
  }
  
  i,
  .current-temperature {
    font-size: 4.5rem;
  }
  
  .fa-cloud {
    color: #006fff;
  }
  
  .fa-sun {
    color: #ffdb1f;
  }