html {
    font-size: 62.5%;
  }

#content {
    background-color: #25254F;
    color: white;
    max-width: 75rem;
    margin: 4rem auto 0;
    padding: 3rem;
}

  .current-temperature {
    font-size: 4.5rem;
  }
  
  @media screen and (max-width: 810px) {
    #content {
        max-width: 38rem;
        padding: 3rem 0.5rem;
    }
  }